<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="EventFinder">
    <Appenders>


        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%d{HH:mm:ss.SSS} [%t] | %-10marker | %-5level: %c{1} [%line] - %msg%n%throwable}{FATAL=white, ERROR=red, WARN=yellow, INFO=black, DEBUG=green, TRACE=blue}"
                    disableAnsi="false"/>
        </Console>

        <File name="MonitoringDataDownloader" fileName="log/app.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] | %-18marker | %-5level %logger [%line] - %msg%n%throwable"/>
        </File>

    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="MonitoringDataDownloader"/>
        </Root>
    </Loggers>
</Configuration>